In [2]:
import numpy as np
import pandas as pd

In [10]:
df1 = pd.DataFrame(np.random.randn(5,5),['r1', 'r2', 'r3', 'r4', 'r5'],['c1', 'c2', 'c3', 'c4', 'c5'])
df1

           0         1         2         3         4
c1 -0.315877  0.757592  1.626257 -0.466996  0.435813
c2  1.945087  0.075842 -0.567899  0.879793 -2.811271
c3  2.060938 -1.175029  0.165261  0.969912  0.210103
c4 -1.327823  0.059258 -1.328623  1.552208  0.438567
c5  0.073607 -1.014340 -1.325728  1.026450  0.286935

In [9]:
df1.mean()

0   -0.467523
1    0.796108
2   -0.904706
3    0.370471
4   -0.020962
dtype: float64